@import 'bootstrap';
@import 'general-style-config';
@import 'header';
@import 'footer';
@import 'popup-window';

.content-wrapper {
	@include make-row(0);
	@include centered_content();
	margin: 1% auto 5% auto;

	.item-wrapper {
		@include make-row(0);

		.thumb_img {
			@include make-xs-column(12);
			@include make-sm-column(12); 
			@include make-md-column(8);
			@include make-lg-column(8);
		}

		.item-controlls {
			@include make-xs-column(12);
			@include make-sm-column(12); 
			@include make-md-column(4);
			@include make-lg-column(4);	
			padding: 2% 4%;
			@media (min-width: $screen-sm-min) { padding: 2% 0; }

			span {
				@include make-xs-column(3);
				@include make-sm-column(3); 
				@include make-md-column(3);
				@include make-lg-column(3);
				text-align: center;
			}

			.item-details-header{
				@include make-row(0);
				padding-bottom: 2%;
				border-bottom: solid thin $background-green;
			}

			.item-details {
				@include make-row(0);
				margin: 4% 0;

				.quantity { width: 100%; }

				.remove-butt { 
					@include button-orange();
					font-size: 85%;
					text-transform: initial;
				}
			}
		}
	}

	#quote_wrapper {

	}

    #submit_form {

    }

	#subtotal-wrapper {
		@include make-row(0);
	}
    
    #total_order {
    	@extend .brick;
    	color: $text-color;
    	text-align: right;
    	.green_price { 
    		margin-left: 1em;
    		font-size: $font-size-h2; 
    	}

    	@include make-xs-column(12);
    	@include make-sm-column(12); 
    	@include make-md-column(12);
    	@include make-lg-column(12);

	}

    #buttons_wrapper {
    	@include make-row(0);
    }

    #continue_shop_butt{
		@include button-orange(8%, 8%);
		@media (min-width: $screen-sm-min) { padding: 3%; }
		
		@include make-xs-column(12);
		@include make-sm-column(4); 
		@include make-md-column(4);
		@include make-lg-column(4);
	}

	#checkout_butt {
		@include button-green(8%, 8%);
		@media (min-width: $screen-sm-min) { padding: 3%; }

		@include make-xs-column(12);
		@include make-sm-column(4); 
		@include make-md-column(4);
		@include make-lg-column(4);
	}

	.empty-basket-wrapper {
		@include make-row(0);
		min-height: 400px;
		@include headers_style();
		text-align: center;
		
		h3 { color: $background-green; }
		
		a { text-decoration: underline;
			line-height: 200%;
		}

		&>div {
			@include make-xs-column(12);
			@include make-sm-column(6); 
			@include make-md-column(6);
			@include make-lg-column(6);

			@include make-xs-column-push(0);
			@include make-sm-column-push(3); 
			@include make-md-column-push(3);
			@include make-lg-column-push(3);
		}

		ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}
	}
}




